
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<body>
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="purple">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/th.jpg')">
                <div class="filter"></div>
                <div class="title-container text-center">
                    <h1>HOSTEL MANAGEMENT SYSTEM</h1>

                    <br />
                    <a href="/Register/Login" class="btn btn-round btn-neutral btn-fill" target="_blank">Login</a>
                    <br />
                    <br />
                    <a href="/Register/Index" class="btn btn-round btn-neutral btn-fill" target="_blank">Register</a>
                    <br />
                </div>
            </div>
        </div>
    </div>

</body>


